<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rixxtr"/>
    <meta name="twitter:title" content="I'm doing things 100 times"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://100.rixx.de/">
    <meta property="og:title" content="I'm doing things 100 times"/>

    <link rel="canonical" content="https://100.rixx.de/">

    <title>I'm doing things 100 times</title>

    <style>
      body { width: 800px; max-width: 100%; margin: auto; line-height: 1.8; font-family: sans-serif }
      body > * { margin-left: 16px; margin-right: 16px; }
      .thing-row { border-top: 1px solid #990000; padding-bottom: 12px }
      .thing-row .thing { display: flex; justify-content: space-between; align-items: baseline;}
      .thing-row .thing .count h2 { display: inline }
      textarea { width: 80% }
      details { margin-bottom: 12px }
      details summary { cursor: pointer; margin-bottom: 12px; }
    </style>
  </head>
  <body>
    <h1>I'm doing things 100 times</h1>
    <p>
      <details>
        <summary>Why?</summary>
        Sucking at something for a while leads to being good at something, with some caveats: I have to reflect on what I'm doing (hence the "What have I learned?" part), and I have to have enough variation in the crappiness to have something to learn from.
      </details>
      <details>
        <summary>Notes</summary>
        Doing a thing 100 times is secondary to doing something I want, so if doing a thing 10 times makes me realise that I'm not interested after all, I'll back out.
        The primary objective is to <b>fuck around and <i>stick it out long enough</i> to find out</b>.
      </details>
    </p>
    {% for key, content in data.items() %}
      <form method="POST" class="thing-row">
        <input type="hidden" name="key" value="{{ key }}">
        <div class="thing">
          <h2>100 {{ content.name }}</h2>
          <p>
          </p>
          <div class="count">
            {% if admin %}<button name="direction" value="down" type="submit">-</button>{% endif %}
            <h2>{{ content.count }}</h2>
            {% if admin %}
              <button name="direction" value="up" type="submit">+</button>
              <button name="action" value="delete">delete</button>
            {% endif %}
          </div>
        </div>
        <details>
          <summary>Why?</summary>
          {% if admin %}
            <textarea name="reason">{{ content.reason }}</textarea>
            <button>Save</button>
          {% else %}
            <p>{{ content.reason|safe }}</p>
          {% endif %}
        </details>
        <details>
          <summary>What have I learned?</summary>
          {% if admin %}
            <textarea name="learned">{{ content.learned }}</textarea>
            <button>Save</button>
          {% else %}
            <p>{{ content.learned|safe }}</p>
          {% endif %}
        </details>
      </form>
    {% endfor %}
    {% if admin %}
    <details>
      <summary>create new thing</summary>
      <form method="POST" class="thing-row">
        <input type="text" name="key" value="json key">
        <div class="thing">
          <h2>100 <input name="name"></h2>
          <div class="count">
          </div>
        </div>
        <details>
          <summary>Why?</summary>
          <textarea name="reason"></textarea>
        </details>
        <details>
          <summary>What have I learned?</summary>
          <textarea name="learned"></textarea>
        </details>
        <button>Save</button>
      </form>
    {% endif %}
  </body>
</html>
